body {
  /* remove margins and scroll bars */
  margin: 0;
  overflow: hidden;
  background: rgb(24, 24, 24);
  /* style text */
  text-align: center;
  font-size: 12px;
  font-family: Sans-Serif;
}

h1 {
  font-size: 5rem;
  text-transform: uppercase;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  height: 200vh;
  display: flex;
  position: absolute;
}

.cube {
  /* tell our scene container to take up the full page */
  position: absolute;
  top: 50%;
  left: 40%;
  outline: rgb(24, 24, 24);
  mix-blend-mode: exclusion;
  /*Set the container's background color to the same as the scene's
      background to prevent flashing on load
    */
}
